* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #f4f5f7;
}

/* Navbar Styles */
.navbar {
  position: sticky;
  top: 0;
}

.navbar-left {
  background-color: #f4f5f7;
  display: flex;
  float: left;
  align-items: center;
  width: 220px;
  height: 100px;
}

.navbar .navbar-left .logo {
  display: flex;
  margin-left: 25px;
  max-width: 100%;
}

.navbar .navbar-left .logo img {
  padding-left: 15px;
}

.navbar .navbar-right {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f5f7;
  height: 100px;
  width: calc(100% - 220px);
}

.navbar-right .welcome-container {
  margin-left: 50px;
  margin-right: auto;
}

.navbar-right .welcome-container .welcome-txt {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: #8d8d8d;
  margin-bottom: 10px;
}

.navbar-right .welcome-container .welcome-txt .txt-black {
  color: black;
  font-weight: 700;
}

.navbar-right .welcome-container .welcome-subtxt {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #8d8d8d;
  margin-bottom: 0;
}

.navbar-right .dropdown {
  padding: 8px 15px;
  margin: 0px 15px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: "Manrope", sans-serif;
  width: 170px;
  height: 34px;
  background: #ffffff;
}

.navbar-right .date input[type="date"] {
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-right .user-img {
  border-radius: 50%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 40px;
}
.left-slidebar {
  float: left;
  height: calc(100vh-100px);
  max-width: calc(100% - 85vw);
  background-color: #f4f5f7;
}
.left-slidebar ul li p {
  color: #404040;
  font-size: 13px;
}
.left-slidebar ul .slidebar {
  list-style: none;
  margin: 15px 0px;
  padding: 1px 39px;
  background-color: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.left-slidebar ul li {
  list-style: none;
}
.left-slidebar ul li select {
  padding: 5px 2px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
}

/* After Nav */
.home-tab-width {
  border-bottom: 1px solid #dee2e6;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
  width: calc(100% - 17vw);
}
.sidebar-right {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: fit-content;
}
.sidebar-right li {
  padding: 15px 10px;
  margin: 0px 0px;
  font-weight: 500;
  font-size: 13px;
  border-right: 1px solid #dee2e6;
}
.btn-right a {
  padding: 8px 15px;
  border: 1px solid #caddff;
  box-sizing: border-box;
  border-radius: 6px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-right: 12px;
  width: fit-content;
}
.btn-right .export {
  background-color: blue;
  color: white;
}
.btn-right {
  float: right;
}

/* Status container */
.statistics-details {
  /* margin-top: 20px;
  margin-bottom: 48px; */
  padding: 28px 0px;
  padding-left: 60px;
  padding-right: 20px;
  width: calc(100% - 15vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistics-details .text-danger {
  display: flex;
}
.statistics-details .text-success {
  display: flex;
}
.statistics-details .statistics-title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #8d8d8d;
  margin-bottom: 4px;
}
span {
  text-shadow: none;
}
.text-danger {
  color: #f95f53;
}
.text-success {
  color: #34b1aa;
}
.chart {
  background-color: white;
}
