* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #f4f5f7;
}

/* Navbar Styles */
.navbar {
  position: sticky;
  top: 0;
}

.navbar-left {
  background-color: #f4f5f7;
  display: flex;
  float: left;
  align-items: center;
  width: 220px;
  height: 100px;
}

.navbar .navbar-left .logo {
  display: flex;
  margin-left: 25px;
  max-width: 100%;
}

.navbar .navbar-left .logo img {
  padding-left: 15px;
}

.navbar .navbar-right {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f5f7;
  height: 100px;
  width: calc(100% - 220px);
}

.navbar-right .welcome-container {
  margin-left: 50px;
  margin-right: auto;
}

.navbar-right .welcome-container .welcome-txt {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color: #8d8d8d;
  margin-bottom: 10px;
}

.navbar-right .welcome-container .welcome-txt .txt-black {
  color: black;
  font-weight: 700;
}

.navbar-right .welcome-container .welcome-subtxt {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #8d8d8d;
  margin-bottom: 0;
}

.navbar-right .dropdown {
  padding: 8px 15px;
  margin: 0px 15px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: "Manrope", sans-serif;
  width: 170px;
  height: 34px;
  background: #ffffff;
}

.navbar-right .date input[type="date"] {
  width: 100%;
  height: 100%;
  padding: 6px 10px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.navbar-right .user-img {
  border-radius: 50%;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 40px;
}
.left-slidebar {
  float: left;
  height: calc(100vh-100px);
  max-width: calc(100% - 85vw);
  background-color: #f4f5f7;
}
.left-slidebar ul li p {
  color: #404040;
  font-size: 13px;
}
.left-slidebar ul .slidebar {
  list-style: none;
  margin: 15px 0px;
  padding: 1px 39px;
  background-color: #fff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.left-slidebar ul li {
  list-style: none;
}
.left-slidebar ul li select {
  padding: 5px 2px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
}

/* After Nav */
.home-tab-width {
  border-bottom: 1px solid #dee2e6;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: right;
  width: calc(100% - 20vw);
  margin: 0 40px;
}
.sidebar-right {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: fit-content;
}
.sidebar-right li {
  padding: 15px 10px;
  margin: 0px 0px;
  font-weight: 500;
  font-size: 13px;
  border-right: 1px solid #dee2e6;
}
.btn-right a {
  padding: 8px 15px;
  border: 1px solid #caddff;
  box-sizing: border-box;
  border-radius: 6px;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-right: 12px;
  width: fit-content;
}
.btn-right .export {
  background-color: blue;
  color: white;
}
.btn-right {
  float: right;
}

/* Status container */
.tab-content .statistics-details {
  padding: 28px 0px;
  padding-left: 60px;
  width: calc(100% - 20vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tab-content .statistics-details .text-danger {
  display: flex;
}
.tab-content .statistics-details .text-success {
  display: flex;
}
.tab-content .statistics-details .statistics-title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #8d8d8d;
  margin-bottom: 4px;
}
.tab-content .statistics-details span {
  text-shadow: none;
}
.tab-content .statistics-details .text-danger {
  color: #f95f53;
}
.tab-content .statistics-details .text-success {
  color: #34b1aa;
}
.performance-chart {
  display: flex;
  flex-direction: row;
  padding-left: 62px;
  width: calc(100% - 20vw);
}

.graph-container {
  width: 24vw;
  height: 172.6px;
  background-color: #1c3cb3;
  border-radius: 20px;
  margin-left: 2rem;
  flex-direction: column;
}
.graph-container h4 {
  color: white;
  font-weight: 500;
  padding: 1rem;
}
.graph-container p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 10;
}
.graph-container .status-value h2 {
  color: #52cdff;
  font-weight: 100;
  padding: 1rem;
}

.graph-container .status-value {
  padding: 20px;
}
.graph-container img {
  /* display: block; */
  /* height: 66px;
  width: 213px; */
}
.graph-container .img {
  display: inline-block;
  height: 60px;
  width: 9vw;
}

/* circle progress container*/
.circle-progress-container {
  padding: 1.875rem;
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-top: 20px;
  background-color: white;
  width: 24vw;
  border-radius: 20px;
  height: 106px;
}

/* first progress circle */
.first-progress {
  margin-right: 10px;
  width: 152px;
  height: 46px;
}

.skill1 {
  width: 50px;
  height: 38px;
  position: relative;
}
.outer1 {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}
.inner1 {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#number1 {
  font-size: 12px;
  color: #555;
}
.skill1 svg circle {
  fill: none;
  stroke: blue;
  stroke-width: 7px;
  stroke-dasharray: 165;
  stroke-dashoffset: 165;
  animation: anim 2s linear forwards;
}
.skill1 svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 100;
  }
}

/* second progress circle */
.second-progress {
  width: 152px;
  height: 46px;
}

.skill2 {
  width: 38px;
  height: 38px;
  position: relative;
}
.outer2 {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}
.inner2 {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#number2 {
  font-size: 12px;
  color: #555;
}
.skill2 svg circle {
  fill: none;
  stroke: rgb(60, 168, 179);
  stroke-width: 7px;
  stroke-dasharray: 160;
  stroke-dashoffset: 300;
  animation: anim 2s linear forwards;
}
.skill2 svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 100;
  }
}

/* Market Overview */
.market {
  display: flex;
  flex-direction: row;
}
.market-main {
  margin-left: 60px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.market-main .card-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.market-main .card-subtitle {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

.market-main .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.market-main .content .bold {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #1f1f1f;
  margin-bottom: 2px;
}

.market-main .content .text-success {
  color: green;
}
.marketing-overview {
  margin-top: 10px;
}

/* Todo List*/
.todo-list {
  background-color: #fff;
  padding: 24px;
  border-radius: 20px;
  width: 24vw;
  margin-left: 2rem;
  margin-top: 20px;
}

.todo-list .todo-list-inside {
  display: flex;
  flex-direction: row;
  /* width: 382px;   */
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #1f1f1f;
  margin-bottom: 2px;
}

.todo-list .todo-list-inside .todo-list-add-item {
  border: none;
}

.todo-list .list ul li {
  list-style: none;
}
.todo-list .list ul li .badge {
  padding: 5px;
  display: flex;
  flex-direction: row;
}
